In [6]:
import os 
os.chdir("C:/Users/ashutosh/Downloads")

In [7]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [8]:
# Load dataset
df = pd.read_excel("IPL8_24.xlsx")
df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [9]:
# Identify duplicates
duplicate_rows = df[df.duplicated()]
duplicates_count = len(duplicate_rows)
duplicates_count

0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [11]:
df.describe()

,match_id,inning,over,ball,batsman_runs,extra_runs,total_runs,is_wicket
count,2.609200e+05,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000
mean,9.070665e+05,1.483531,9.197677,3.624486,1.265001,0.067806,1.332807,0.049632
std,3.679913e+05,0.502643,5.683484,1.814920,1.639298,0.343265,1.626416,0.217184
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,5.483340e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,9.809670e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000
75%,1.254066e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000
max,1.426312e+06,6.000000,19.000000,11.000000,6.000000,7.000000,7.000000,1.000000

In [12]:
df.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batter              object
bowler              object
non_striker         object
batsman_runs         int64
extra_runs           int64
total_runs           int64
extras_type         object
is_wicket            int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [13]:
df.fillna(method='ffill',inplace=True)
df.isnull().sum()

match_id             0
inning               0
batting_team         0
bowling_team         0
over                 0
ball                 0
batter               0
bowler               0
non_striker          0
batsman_runs         0
extra_runs           0
total_runs           0
extras_type          0
is_wicket            0
player_dismissed    33
dismissal_kind      33
fielder             33
dtype: int64

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score

In [15]:
# Data Cleaning: Standardize team names
team_name_mapping = {
    "Delhi Daredevils": "Delhi Capitals",
    "Rising Pune Supergiant": "Rising Pune Supergiants"
}
df['batting_team'] = df['batting_team'].replace(team_name_mapping)
df['bowling_team'] = df['bowling_team'].replace(team_name_mapping)
df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,legbyes,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,wides,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,wides,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed

In [16]:
# Exploration: Top run-scorers and wicket-takers
top_batters = df.groupby('batter')['batsman_runs'].sum().sort_values(ascending=False).head(10)
top_bowlers = df[df['is_wicket'] == 1].groupby('bowler')['is_wicket'].count().sort_values(ascending=False).head(10)
print("Top Batters:\n", top_batters)
print("Top Bowlers:\n", top_bowlers)

Top Batters:
 batter
V Kohli           8014
S Dhawan          6769
RG Sharma         6630
DA Warner         6567
SK Raina          5536
MS Dhoni          5243
AB de Villiers    5181
CH Gayle          4997
RV Uthappa        4954
KD Karthik        4843
Name: batsman_runs, dtype: int64
Top Bowlers:
 bowler
YS Chahal     213
DJ Bravo      207
PP Chawla     201
SP Narine     200
R Ashwin      198
B Kumar       195
SL Malinga    188
A Mishra      183
JJ Bumrah     182
RA Jadeja     169
Name: is_wicket, dtype: int64

In [17]:
# Excel Dashboard Preparation
pivot = df.pivot_table(index='over', columns='batting_team', values='total_runs', aggfunc='sum')
pivot

batting_team,Chennai Super Kings,Deccan Chargers,Delhi Capitals,Gujarat Lions,Gujarat Titans,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Lucknow Super Giants,Mumbai Indians,Pune Warriors,Punjab Kings,Rajasthan Royals,Rising Pune Supergiants,Royal Challengers Bangalore,Royal Challengers Bengaluru,Sunrisers Hyderabad
over,,,,,,,,,,,,,,,,,
0,1252,482,1649,209,288,1200,103,1720,215,1572,264,346,1441,163,1500,124,1123
1,1608,614,2013,226,389,1336,96,1900,317,1851,301,476,1494,200,1696,178,1468
2,1838,566,2098,294,394,1538,115,2014,377,2118,357,506,1782,250,1920,158,1570
3,2010,571,2089,269,357,1629,126,2118,383,2203,329,495,1962,246,1975,164,1489
4,2093,586,2244,267,368,1618,97,2112,408,2229,316,507,1778,262,1936,100,1644
5,2190,598,1976,294,388,1633,143,2077,380,2252,328,511,1769,302,1892,152,1643
6,1640,472,1792,259,320,1341,89,1691,275,1718,246,390,1548,198,1510,117,1233
7,1689,539,1788,249,328,1453,86,1834,380,1847,317,428,1645,201,1788,132,1277
8,1839,519,1915,242,404,1460,88,1807,387,2034,296,463,1682,203,1785,143,1372
9,1716,502,1854,245,357,1426,77,1941,381,1916,285,437,1718,214,1805,148,1331
10,1845,563,1967,238,368,1488,81,1907,380,1933,319,460,1696,218,1838,133,1345
11,1937,623,1887,203,407,1456,104,1964,315,2085,324,505,1740,219,1768,156,1383
12,1822,521,2033,230,336,1477,108,2046,405,2135,306,470,1758,222,1852,122,1362
13,1997,569,1838,253,383,1561,86,2047,385,2162,311,450,1778,198,1945,165,1506
14,2059,605,1874,225,415,1573,112,2030,414,2232,326,492,1823,226,1968,122,1653
15,2033,594,1995,238,432,1648,53,2070,390,2291,373,553,1852,213,2097,205,1435
16,2136,702,2161,258,458,1578,82,2191,390,2364,323,486,1934,225,2096,148,1480
17,2354,671,2129,247,455,1575,85,2156,418,2466,348,561,1899,225,2231,150,1589
18,2289,610,1957,232,467,1581,94,2029,517,2413,351,506,1787,267,2109,157,1710
19,2282,556,1937,184,443,1493,76,1677,393,2355,338,494,1661,281,1981,156,1458

In [19]:
# Statistical Testing: Does winning the toss increase match win probability?
toss_win_vs_match_win = pd.crosstab(df['batting_team'], df['is_wicket'])
chi2, p, _, _ = chi2_contingency(toss_win_vs_match_win)
print("Chi-square Test P-Value:", p)

Chi-square Test P-Value: 0.00028354966527981455

In [22]:
# Predictive Modeling
features = df[['inning', 'over', 'batsman_runs', 'total_runs']]
target = df['is_wicket']
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)

[0 0 0 ... 0 0 0]

In [23]:
# Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:", confusion_matrix(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, model.predict_proba(X_test)[:, 1]))

# Insights & Recommendations
print("Teams winning toss are", "more" if p < 0.05 else "not significantly more", "likely to win the match.")

Accuracy: 0.9511344473401809
Confusion Matrix: [[49632     0]
 [ 2550     2]]
ROC-AUC: 0.8820327524372485
Teams winning toss are more likely to win the match.

In [24]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,legbyes,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,wides,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,wides,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,legbyes,0,Rahmanullah Gurbaz,lbw,Shahbaz Ahmed

In [26]:
df.to_excel('cleaned_ipl.xlsx')